[submodule "app/contentframe"]
	path = app/contentframe
	url = https://github.com/bencsbalazs/contentframework.git
[submodule "assets/backend"]
	path = assets/backend
	url = https://github.com/bencsbalazs/backend-gemini.git
[submodule "app/goodtoknow/pi"]
	path = app/goodtoknow/pi
	url = https://github.com/bencsbalazs/calculations-of-pi.git
[submodule "app/goodtoknow/geoid"]
	path = app/goodtoknow/geoid
	url = https://github.com/bencsbalazs/distance-on-geoid.git
[submodule "app/goodtoknow/tabernacle"]
	path = app/goodtoknow/tabernacle
	url = https://github.com/bencsbalazs/tabernacle.git
[submodule "app/goodtoknow/timeline"]
	path = app/goodtoknow/timeline
	url = https://github.com/bencsbalazs/timeline.git
