@font-face {
    src: url("/assets/fonts/Tektur/static/Tektur-Regular.ttf") format('truetype');
    font-family: "Tektur";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

@font-face {
    src: url("/assets/fonts/digital-numbers/DigitalNumbers-Regular.ttf") format('truetype');
    font-family: "Digital Numbers";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

@font-face {
    src: url("/assets/fonts/Open_Sans/static/OpenSans-Regular.ttf") format('truetype');
    font-family: "Open Sans";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
