body {
    font-family: "Open Sans", sans-serif;
    color: $font-color;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover {
        color: #37b3ed;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

#main {
    margin-left: 300px;
}
