a {
    text-decoration: none;
}

iframe {
    display: block;
    margin: 0 auto;
}

#forkMeOnGithub {
    position: absolute;
    top: 0;
    right: 0;
    width: 10em;
    height: 10em;
    z-index: 999;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background: #f5f8fd;
}

.section-title {
    padding-bottom: 30px;

    p {
        margin-bottom: 0;
    }

    h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: solid 2px rgba(0, 0, 0, .6);
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            bottom: 0;
            left: 0;
        }
    }
}

.blockquote {
    p:first-letter {
        margin-left: 1rem;
    }
}

nav {
    #navProfile {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin: 0.2rem;
    }

    a {
        color: rgba(255, 255, 255, 0.55);
        transition: color 0.3s ease;

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }
}

#footer {
    a {
        color: rgba(255, 255, 255, 0.55);
        transition: color 0.3s ease;

        &:hover {
            color: #fff;
        }
    }
}