@font-face {
  src: url("/assets/fonts/Tektur/static/Tektur-Regular.ttf") format("truetype");
  font-family: "Tektur";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@font-face {
  src: url("/assets/fonts/digital-numbers/DigitalNumbers-Regular.ttf") format("truetype");
  font-family: "Digital Numbers";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@font-face {
  src: url("/assets/fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  font-family: "Open Sans", sans-serif;
  color: rgb(40, 40, 40);
}

a {
  color: rgb(30, 80, 150);
  text-decoration: none;
}
a:hover {
  color: rgb(240, 170, 50);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

iframe {
  display: block;
  margin: 0 auto;
}

#forkMeOnGithub {
  position: absolute;
  top: 0;
  right: 0;
  width: 15em;
  height: 15em;
  z-index: 999;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}
.section-title p {
  margin-bottom: 0;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px rgb(40, 40, 40);
  font-family: "Tektur", sans-serif;
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  bottom: 0;
  left: 0;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}
.back-to-top .active {
  visibility: visible;
  opacity: 1;
}

nav #navProfile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.2rem;
}
nav a {
  font-family: "Tektur", sans-serif;
}
nav .social-links {
  min-width: 18rem;
}
nav .social-links a {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.55);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
nav .social-links a:hover {
  color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.55);
  text-decoration: none;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/cartoonMee.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 100%;
}
#hero #matrix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: rgb(40, 40, 40);
  text-shadow: 0 0 0.5em rgb(255, 255, 255), 0 0 0.5em rgb(255, 255, 255);
}
#hero p {
  color: rgb(40, 40, 40);
  margin-bottom: 50px;
  font-size: 26px;
}
#hero p span {
  color: rgb(40, 40, 40);
  text-shadow: 0 0 0.5em rgb(255, 255, 255), 0 0 0.5em rgb(255, 255, 255);
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid rgb(40, 40, 40);
}

.about .content h3 {
  font-weight: 700;
  font-size: 26px;
}
.about .content p:last-child {
  margin-bottom: 0;
}
.about .content ul {
  list-style: none;
  padding: 0;
}
.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.about .content ul strong {
  margin-right: 10px;
}
.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: rgb(30, 80, 150);
  line-height: 0;
}
.about img {
  transform: scaleX(-1);
}

.feedback {
  padding: 1rem;
  margin: 0.5rem;
  text-align: justify;
  display: block;
}
.feedback .author {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
  text-align: right;
  float: right;
  font-style: inherit;
}

.facts {
  padding-bottom: 30px;
}
.facts .count-box {
  padding: 30px;
  width: 100%;
}
.facts .count-box i {
  display: block;
  font-size: 44px;
  color: rgb(30, 80, 150);
  float: left;
  line-height: 0;
}
.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-family: "Digital Numbers", sans-serif;
  font-weight: 700;
  margin-left: 60px;
}
.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-size: 14px;
}
.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: rgb(30, 80, 150);
  font-size: 15px;
  font-family: "Tektur", sans-serif;
  transition: ease-in-out 0.3s;
}
.facts .count-box a:hover {
  color: rgb(240, 170, 50);
}

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}
.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  color: #050d18;
}
.skills .progress .skill .val {
  float: right;
  font-style: normal;
}
.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}
.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: rgb(30, 80, 150);
}

.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}
.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}
.resume .resume-item > *:not(div):nth-child(-n+3) {
  width: 90%;
}
.resume .resume-item > div {
  width: 8%;
  float: right;
  height: 6em;
}
.resume .resume-item:last-child {
  padding-bottom: 0;
}
.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}
.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #050d18;
  margin-bottom: 10px;
}
.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.resume .resume-item ul {
  padding-left: 20px;
}
.resume .resume-item ul li {
  padding-bottom: 10px;
}

.services .icon-box {
  margin-bottom: 20px;
}
.services .icon-box:hover .icon {
  background: #fff;
}
.services .icon-box:hover .icon i {
  color: rgb(30, 80, 150);
}
.services .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  background: rgb(30, 80, 150);
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid rgb(30, 80, 150);
}
.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}
.services .title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.services .title a:hover {
  color: rgb(30, 80, 150);
}
.services .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#footer {
  padding: 15px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  width: 100%;
  z-index: 9999;
  background: #040b14;
}
#footer .copyright {
  text-align: center;
}

#footnav {
  background: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.55);
  font-size: 1.5rem;
}
#footnav a {
  color: rgba(255, 255, 255, 0.55);
  transition: color 0.3s ease;
}
#footnav a:hover {
  color: #fff;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 1199px) {
  #main {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .floating-card.grow {
    width: 80vw !important;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */