@font-face {
  src: url("/assets/fonts/Tektur/static/Tektur-Regular.ttf") format("truetype");
  font-family: "Tektur";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@font-face {
  src: url("/assets/fonts/digital-numbers/DigitalNumbers-Regular.ttf") format("truetype");
  font-family: "Digital Numbers";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@font-face {
  src: url("/assets/fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
a {
  text-decoration: none;
}

iframe {
  display: block;
  margin: 0 auto;
}

#forkMeOnGithub {
  position: absolute;
  top: 0;
  right: 0;
  width: 10em;
  height: 10em;
  z-index: 999;
}

section {
  padding: clamp(2.5rem, 5vw, 3.75rem) 0;
  overflow: hidden;
}

.section-bg {
  background: hsl(218, 89%, 98%);
}

.section-title p {
  margin-bottom: 0;
}
.section-title h2 {
  font-size: clamp(1.75rem, 1.6rem + 0.5vw, 2rem);
  font-weight: bold;
  margin-bottom: 0.625rem;
  padding-bottom: 0.625rem;
  border-bottom: solid 2px hsla(0, 0%, 0%, 0.6);
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 3.125rem;
  height: 3px;
  bottom: 0;
  left: 0;
}

.blockquote p:first-letter {
  margin-left: 1rem;
}

.delimeter {
  width: 3.75rem;
  background-color: hsl(211, 98%, 52%);
  height: 0.125rem;
}

nav #navProfile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.2rem;
}
nav a {
  color: hsla(0, 0%, 100%, 0.55);
  transition: color 0.3s ease;
}
nav a:hover {
  color: hsl(0, 0%, 100%);
}

#footer a {
  color: hsla(0, 0%, 100%, 0.55);
  transition: color 0.3s ease;
}
#footer a:hover {
  color: hsl(0, 0%, 100%);
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/cartoonMee.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 100%;
}
#hero h1 {
  margin: 0 0 0.625rem 0;
  font-size: clamp(2.5rem, 1.5rem + 5vw, 4rem);
  font-weight: 700;
  line-height: 1.2;
  text-shadow: 0 0 0.5em hsl(0, 0%, 100%), 0 0 0.5em hsl(0, 0%, 100%);
}
#hero p {
  margin-bottom: 3.125rem;
  font-size: clamp(1.25rem, 1rem + 1vw, 1.625rem);
  text-shadow: 0 0 4px hsl(0, 0%, 100%);
}
#hero p span {
  text-shadow: 0 0 0.5em hsl(0, 0%, 100%), 0 0 0.5em hsl(0, 0%, 100%);
  padding-bottom: 0.25rem;
  letter-spacing: 0.0625rem;
  border-bottom: 0.1875rem solid hsl(0, 0%, 0%);
}
#hero article {
  max-width: 85vw;
  font-size: 1.2rem;
  background: hsla(0, 0%, 100%, 0.8);
  text-shadow: 0 0 1rem hsl(0, 0%, 100%);
  text-align: justify;
}
#hero .sociallinks {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 999;
}
#hero .sociallinks a {
  float: left;
  font-size: 1.5rem;
}
#hero .sociallinks a:not(:first-child) {
  margin-left: 0.5rem;
}

.facts {
  padding-bottom: 1.875rem;
}
.facts .count-box {
  padding: 1.875rem;
  width: 100%;
}
.facts .count-box i {
  display: block;
  font-size: 2.75rem;
  float: left;
  line-height: 0;
}
.facts .count-box span {
  font-size: clamp(2.5rem, 2rem + 2vw, 3rem);
  line-height: 1;
  display: block;
  font-family: "Digital Numbers", sans-serif;
  font-weight: 700;
  margin-left: 3.75rem;
}
.facts .count-box p {
  padding-top: 0.9375rem;
  margin: 0 0 0 3.75rem;
  font-size: 0.875rem;
}
.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 1.25rem;
  font-size: 0.9375rem;
  transition: ease-in-out 0.3s;
}

.services .icon-box:hover .icon {
  background: hsl(0, 0%, 100%);
  color: var(--bs-primary);
}
.services .icon-box:hover .icon i {
  color: var(--bs-primary);
}
.services .icon {
  width: 3rem;
  height: 3rem;
  background: var(--bs-primary);
  border: solid 1px var(--bs-primary);
}
.services .icon i {
  color: hsl(0, 0%, 100%);
  font-size: 1.5rem;
  line-height: 0;
}
.services .title {
  font-weight: 700;
  font-size: clamp(1rem, 0.9rem + 0.25vw, 1.125rem);
  margin-left: 3.2rem;
}
.services .description {
  line-height: 1.4;
  margin-left: 3.2rem;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  #hero article {
    max-width: 40vw;
  }
}
@media (max-width: 1199px) {
  #main {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .floating-card.grow {
    width: 80vw !important;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */