@font-face {
  src: url("/assets/fonts/Tektur/static/Tektur-Regular.ttf") format("truetype");
  font-family: "Tektur";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@font-face {
  src: url("/assets/fonts/digital-numbers/DigitalNumbers-Regular.ttf") format("truetype");
  font-family: "Digital Numbers";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
@font-face {
  src: url("/assets/fonts/Open_Sans/static/OpenSans-Regular.ttf") format("truetype");
  font-family: "Open Sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: rgb(40, 40, 40);
}

a {
  color: rgb(30, 30, 230);
  text-decoration: none;
}
a:hover {
  color: rgba(30, 30, 230, 0.55);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

iframe {
  display: block;
  margin: 0 auto;
}

#forkMeOnGithub {
  position: absolute;
  top: 0;
  right: 0;
  width: 10em;
  height: 10em;
  z-index: 999;
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}
.section-title p {
  margin-bottom: 0;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px rgb(40, 40, 40);
  position: relative;
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  bottom: 0;
  left: 0;
}

.blockquote p:first-letter {
  margin-left: 1rem;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #2eafec;
  color: #fff;
}
.back-to-top .active {
  visibility: visible;
  opacity: 1;
}

nav #navProfile {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin: 0.2rem;
}
nav .social-links {
  min-width: 18rem;
}
nav .social-links a {
  font-size: 18px;
  color: rgb(230, 190, 30);
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  transition: color ease-in-out 0.5s;
  width: 36px;
  height: 36px;
}
nav .social-links a:hover {
  color: rgba(250, 250, 250, 0.55);
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/cartoonMee.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 90% 100%;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: rgb(40, 40, 40);
  text-shadow: 0 0 0.5em rgb(255, 255, 255), 0 0 0.5em rgb(255, 255, 255);
}
#hero p {
  color: rgb(40, 40, 40);
  margin-bottom: 50px;
  font-size: 26px;
  text-shadow: 0 0 4px rgb(255, 255, 255);
}
#hero p span {
  color: rgb(40, 40, 40);
  text-shadow: 0 0 0.5em rgb(255, 255, 255), 0 0 0.5em rgb(255, 255, 255);
  padding-bottom: 4px;
  letter-spacing: 1px;
  border-bottom: 3px solid rgb(40, 40, 40);
}
#hero article {
  max-width: 85vw;
  font-size: 1.2rem;
  background: rgba(255, 255, 255, 0.8);
  text-shadow: 0 0 1rem white;
  text-align: justify;
}
#hero .sociallinks {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 999;
}
#hero .sociallinks a {
  float: left;
  font-size: 1.5rem;
}
#hero .sociallinks a:not(:first-child) {
  margin-left: 0.5rem;
}

.facts {
  padding-bottom: 30px;
}
.facts .count-box {
  padding: 30px;
  width: 100%;
}
.facts .count-box i {
  display: block;
  font-size: 44px;
  color: rgb(30, 30, 230);
  float: left;
  line-height: 0;
}
.facts .count-box span {
  font-size: 48px;
  line-height: 40px;
  display: block;
  font-family: "Digital Numbers", sans-serif;
  font-weight: 700;
  margin-left: 60px;
}
.facts .count-box p {
  padding: 15px 0 0 0;
  margin: 0 0 0 60px;
  font-size: 14px;
}
.facts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: rgb(30, 30, 230);
  font-size: 15px;
  transition: ease-in-out 0.3s;
}
.facts .count-box a:hover {
  color: rgba(30, 30, 230, 0.55);
}

.services .icon-box:hover .icon {
  background: #fff;
  color: rgb(30, 30, 230);
}
.services .icon-box:hover .icon i {
  color: rgb(30, 30, 230);
}
.services .icon {
  width: 3rem;
  height: 3rem;
  background: rgb(30, 30, 230);
  border: solid 1px rgb(30, 30, 230);
}
.services .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}
.services .title {
  font-weight: 700;
  font-size: 18px;
  margin-left: 3.2rem;
}
.services .description {
  line-height: 1.5rem;
  margin-left: 3.2rem;
}

#footer {
  padding: 15px;
  color: rgba(255, 255, 255, 0.55);
  font-size: 14px;
  width: 100%;
  z-index: 9999;
  background: #040b14;
}
#footer .copyright {
  text-align: center;
}

#footnav {
  background: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.55);
  font-size: 1.5rem;
}
#footnav a {
  color: rgba(255, 255, 255, 0.55);
  transition: color 0.3s ease;
}
#footnav a:hover {
  color: #fff;
}

@media (max-width: 1199px) {
  #footer {
    position: static;
    width: auto;
    padding-right: 20px 15px;
  }
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
  #hero article {
    max-width: 40vw;
  }
}
@media (max-width: 1199px) {
  #main {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .floating-card.grow {
    width: 80vw !important;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}/*# sourceMappingURL=style.css.map */