$font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Decorations styles
$shadow-color: rgba(255, 255, 255, .55);
$font-family-digital: "Digital Numbers", sans-serif;