#blogContent {
    text-align: justify;
    .title {
        font-weight: bold;
        letter-spacing: 0.2em;
    }
    .date {
        font-style: italic;
        margin: 1em;
    }
    p {
        float: left;
        &:first-letter {
            font-size: 1.4em;
            font-family: ui-monospace;
            float: left;
            padding: 0.3em 0.2em;
            margin: 0.2em;
            line-height: 1em;
            background: #000;
            color: #fff;
            font-style: italic;
        }
    }
    ul {
        clear: both;
    }
}

#tableOfContents {
    a {
        font-size: 1.2em;
        float: left;
        width: 100%;
        border-bottom: #fff solid 0.2em;
        &:hover {
            color: #000;
        }
    }
    .selected {
        border-bottom: #173b6c solid 0.2em;
    }
}
