#myBlog {
  height: 90vh;
}

#blogContent {
  text-align: justify;
  .title {
    font-weight: bold;
    letter-spacing: 0.2em;
  }
  .date {
    font-style: italic;
    margin: 1em;
  }
  p {
    float: left;
    &:first-letter {
      font-size: 1.4em;
      font-family: ui-monospace;
      float: left;
      padding: 0.3em 0.2em;
      margin: 0.2em;
      line-height: 1em;
      background: #000;
      color: #fff;
      font-style: italic;
    }
  }
  ul {
    clear: both;
  }
}

#tableOfContents {
  padding-top: 2rem;
  border-top: solid;
  a {
    font-size: 1.2em;
    float: left;
    width: 100%;
    border-bottom: #fff solid 0.2em;
    &:hover {
      color: #000;
    }
  }
  .selected {
    border-bottom: #173b6c solid 0.2em;
  }

  li {
    list-style: none;
  }
  .caret {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
    font-size: 2rem;
  }

  .caret::before {
    content: '\25B6';
    color: black;
    display: inline-block;
    margin-right: 6px;
  }

  .caret-down::before {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg);
  }

  .nested {
    display: none;
  }

  .active {
    display: block;
  }
}
