#footer {
    padding: 15px;
    color: rgba(255, 255, 255, 0.55);
    font-size: 14px;
    width: 100%;
    z-index: 9999;
    background: #040b14;

    .copyright {
        text-align: center;
    }

}

#footnav {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 0.55);
    font-size: 1.5rem;
    a {
        color: rgba(255, 255, 255, 0.55);
        transition: color 0.3s ease;

        &:hover {
            color: #fff;
        }
    }
}

