#footer {
    padding: 15px;
    color: #f4f6fd;
    font-size: 14px;
    width: 100%;
    z-index: 9999;
    background: #040b14;
}
#footer .copyright {
    text-align: center;
}
#footer .credits {
    padding-top: 5px;
    text-align: center;
    font-size: 13px;
    color: #eaebf0;
}

#footnav {
    background: black;
    color: #fff;
}
