#footer {
    padding: 15px;
    color: #f4f6fd;
    font-size: 14px;
    width: 100%;
    z-index: 9999;
    background: #040b14;

    .copyright {
        text-align: center;
    }

}

#footnav {
    background: black;
    color: #fff;
}

.footer-social-links {
    font-size: 1.5rem;
}
