@font-face {
    src: url("/assets/fonts/Tektur/static/Tektur-Regular.ttf") format('truetype');
    font-family: "Tektur";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
nav {
    #navProfile {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin: 0.2rem;
    }
    a{
        font-family: "Tektur", sans-serif;
    }
.social-links {
    min-width: 18rem;
    a {
        font-size: 18px;
        background: #212431;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }

    a:hover {
        color: #fff;
        box-shadow: 0 0 10px 0 rgba(220, 140, 35, 1);
        text-decoration: none;
    }
}
}
