nav {
    #navProfile {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        margin: 0.2rem;
    }
.social-links {
    min-width: 18rem;
    a {
        font-size: 18px;
        color: $link-color-on-dark;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }

    a:hover {
        color: $link-hover-color-on-dark;
        box-shadow: 0 0 10px 0 $shadow-color;
        text-decoration: none;
    }
}
}
