.services {
    .icon-box {
        margin-bottom: 20px;
        &:hover .icon{
            background: #fff;
            i {
                color: $link-color;
            }
        }

    }
    .icon {
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        background: $link-color;
        border-radius: 50%;
        transition: 0.5s;
        border: 1px solid $link-color;
        i {
            color: #fff;
            font-size: 24px;
            line-height: 0;
        }
    }
    .title {
        margin-left: 80px;
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
        font-family: $font-family-highlight;
        a {
            &:hover {
                color: $link-color;
            }
        }
    }
    .description {
        margin-left: 80px;
        line-height: 24px;
        font-size: 14px;
    }
}
