.services {
    .icon-box {
        &:hover .icon {
            background: #fff;
            color: var(--bs-primary);

            i {
                color: var(--bs-primary);
            }
        }

    }

    .icon {
        width: 3rem;
        height: 3rem;
        background: var(--bs-primary);
        border: solid 1px var(--bs-primary);

        i {
            color: #fff;
            font-size: 24px;
            line-height: 0;
        }
    }

    .title {
        font-weight: 700;
        font-size: 18px;
        margin-left: 3.2rem;

    }

    .description {
        line-height: 1.5rem;
        margin-left: 3.2rem;
    }
}