.services {
    .icon-box {
        &:hover .icon{
            background: transparent;
            i {
                color: $link-color;
            }
        }

    }
    .icon {
        width: 3rem;
        height: 3rem;
        background: $link-color;
        i {
            color: #fff;
            font-size: 24px;
            line-height: 0;
        }
    }
    .title {
        font-weight: 700;
        font-size: 18px;

    }
    .description {
        line-height: 1.5rem;
    }
}
