.skills {
    .progress {
        height: 60px;
        display: block;
        background: none;
        border-radius: 0;
        .skill {
            padding: 0;
            margin: 0 0 6px 0;
            text-transform: uppercase;
            display: block;
            font-weight: 600;
            color: #050d18;
            .val {
                float: right;
                font-style: normal;
            }
        }
    }
    .progress-bar-wrap {
        background: #dce8f8;
        height: 10px;
    }
    .progress-bar {
        width: 1px;
        height: 10px;
        transition: 0.9s;
        background-color: $link-color;
    }
}
